{% extends "base.html" %}


{% block content %}

<article id="origin">
    <p>Once known as the "peaceful path." Rock, Paper, Scissors has been an integral part of the fabric of our society for as long as humans had hands, and noticed they could make them enguage in combat! Over these millenia the names for these weapons have changed, as we all know rocks were only discovered in the 1780s. We have come a long way from the first ancient game of fist, fist and fist. The principle remains the same, a weapon is chosen, represented by a hidden handshape, after a count down both handshapes are revealed and brutal war is waged. Each shape beats a corosponding shape, nulifies itself and loses to its own bitter foe. For this version of the game scissors triumhps over paper, rock meets its demise at papers thin hands and scissors are torn asunder through rocks might. All clear. Good. Took you long enough. </p>
    <img src="https://99percentinvisible.org/app/uploads/2022/01/rock-paper-scissors.png" alt="fun">
</article>

{% endblock %}